[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
tasks = {path = ".", editable = true}
"flake8" = "*"
pytest = "*"
isort = "*"
twine = "*"

[packages]
tasks = {path = ".", editable = true}
datadispatch = "*"

[requires]
python_version = "3.8"
